<div class="filters">
	<label>Name:</label>
        <!-- 
        ng-model-options="{updateOn: 'change'}"
        -->
	<input type="text" ng-model="filters.name"/>
        
        <label>Surname:</label>
	<input type="text" ng-model="filters.surname"/>
        
        <label>Email:</label>
	<input type="text" ng-model="filters.email" />

	<label>Role:</label>
	<select ng-model="filters.role">
            <option value="">SELECT...</option>
            <option ng-repeat="(lKey, ln) in roles" value="{{lKey}}">{{ln}}</option>
	</select>

	<label>Language:</label>
        
        <!-- ng-option -->
	<select ng-model="filters.lang">
            <option value="">SELECT...</option>
            <option ng-repeat="(lKey, ln) in languages" value="{{lKey}}">{{ln}}</option>
	</select>
        
	<input type="button" value="Filter" ng-click="change()" />
        <input type="button" value="Reset" ng-click="clear()" />
</div>