<!DOCTYPE html>
<html ng-app="homework">
<head>
	<title>ngHomeWork: Vitaly Chubenko</title>
	<link rel="stylesheet" type="text/css" href="normalize.css">
	<link rel="stylesheet" type="text/css" href="styles.css">

	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
        <script type="text/javascript" src="moment.js"></script>
</head>
<body ng-controller="Main">
    
    <input type="checkbox" ng-click="changeGettingError()"> Send error true
    
    <xt-filters
        template="tpl/xt-filters.html"
        filters="filters"
        change="toFilter()"
        >
    </xt-filters>

    <xt-error template="tpl/xt-error.html"></xt-error>
    
    <div class="usersloaded">
        Users: {{users.length}}
    </div>
<button ng-click="deleteSelectedUsers()" ng-disabled="selectedUsers==0" class="btnDeleteUsers">Delete Selected Users</button>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>
                    <a href="" ng-click="orderByField('name')"
                       class="{{sort.field == 'name' ? 'current':'' }} {{(sort.order_asc) ? 'asc' : 'desc' }}">
                       Name
                    </a>
                </th>
                <th>
                    <a href="" ng-click="orderByField('surname')"
                       class="{{sort.field == 'surname' ? 'current':'' }} {{(sort.order_asc) ? 'asc' : 'desc' }}">
                       Surname
                    </a>
                </th>
                <th>
                    <a href="" ng-click="orderByField('email')"
                       class="{{sort.field == 'email' ? 'current':'' }} {{(sort.order_asc) ? 'asc' : 'desc' }}">
                       Email
                    </a>
                </th>
                <th>
                    <a href="" ng-click="orderByField('lang')"
                       class="{{sort.field == 'lang' ? 'current':'' }} {{(sort.order_asc) ? 'asc' : 'desc' }}">
                       Language
                    </a>
                </th>
                <th>
                    <a href="" ng-click="orderByField('role')"
                       class="{{sort.field == 'role' ? 'current':'' }} {{(sort.order_asc) ? 'asc' : 'desc' }}">
                       Role
                    </a>
                </th>
                <th>
                    <a href="" ng-click="orderByField('created')"
                       class="{{sort.field == 'created' ? 'current':'' }} {{(sort.order_asc) ? 'asc' : 'desc' }}">
                       Created
                    </a>
                </th>
                <th>
                    <a href="" ng-click="orderByField('updated')"
                       class="{{sort.field == 'updated' ? 'current':'' }} {{(sort.order_asc) ? 'asc' : 'desc' }}">
                       Updated
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users" class="{{user.selected?'rowselected':''}}">
                <td><input type='checkbox' ng-click="selectUser(user)"/></td>
                <td>{{user.name}}</td>
                <td>{{user.surname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.lang | langF}}</td>
                <td>{{user.role | mroleF}}</td>
                <td>{{user.created | dateF}}</td>
                <td>{{user.updated | dateF}}</td>
                <td><button ng-click="deleteUser(user)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <div ng-if='showLoadMore' ng-click="loadMoreUsers()" class="loadmore">LOAD MORE</div>
    <div class="usersloaded">
        Users: {{users.length}}
    </div>
    
    <xt-loader template="tpl/xt-loader.html"></xt-loader>
</body>
</html>