body {
	padding: 20px;
}


/* Input elements */

input,
select
{
	height: 25px;
	line-height: 25px;
	font-family: inherit;
	font-size: inherit;
	vertical-align: middle;
	box-sizing: border-box;
}

input[type="text"],
select
{
	border: 1px solid #BBBBBB;
	background: #FFFFFF;
}

input[type="text"] {
	padding-left: 5px;
	padding-right: 5px;
}

input[type="submit"],
input[type="button"]
{
	padding-left: 10px;
	padding-right: 10px;
	border: none;
	background: #BBBBBB;
	cursor: pointer;
}


/* Tables */

table {
	width: 100%;
	border-collapse: collapse;
}

table th,
table td
{
	padding: 10px;
}

table th {
    text-align: left;
}


table tr:nth-child(odd) td {
	background-color: #EEEEEE;
}

table.sortable thead {
    background-color: #333;
    color: #cccccc;
    font-weight: bold;
    cursor: default;
}

.loadmore
{
    width: 100%; height: 20px; background-color: #aaaaaa; margin-top: 10px; text-align: center
}

.usersloaded
{
    margin-top: 10px;
    text-decoration: underline;
}

.current.asc:after {
    content: "▲";
}

.current.desc:after {
    content: "▼";
}


/* Modal bg */

.modalbg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
}

/* Spinner */

.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Filters */
.filters {
	padding: 10px;
	background-color: #EEEEEE;
}

.filters input[type="text"],
.filters select
{
	width: 120px;
	margin-right: 5px;
}

.rowselected {
    color: red;
}

.btnDeleteUsers
{
    margin-top: 10px;
}

.error
{
    color: red;
    text-align: center;
}